:root {
  --text: #021713;
  --text-rgb: 2, 23, 19;

  --background: #fff;
  --background-rgb: 241, 254, 251;

  --primary: #ce1238;
  --primary-rgb: 206, 18, 56;

  --subtle-primary: #d27785;
  --subtle-primary-rgb: 210, 119, 133;

  --subtle-primary-dark: #a73a4a;
  --subtle-primary-dark-rgb: 167, 58, 74;

  --secondary: #a30f2c;
  --secondary-rgb: 163, 15, 44;

  --accent: #4d9d7a;
  --accent-rgb: 77, 157, 122;

  --emphasis: #6da6b3;
  --emphasis-rgb: 109, 166, 179;

  --separator: #dedee6;
  --separator-rgb: rgb(222, 226, 230);
}

[data-bs-theme='light'] .d-block-light,
[data-bs-theme='dark'] .d-block-dark {
  display: block !important;
}


/*       Tagify       */
.tagify-text,
.tagify__dropdown__footer {
  color: var(--text);
}

/* ------------------ */

/*      Sidebar       */
.sidebar {
  border-right: 1px solid var(--separator);
}

.sidebar-element {
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;
}

[data-bs-theme='dark'] .sidebar-element a {
  color: white;
  text-decoration: none;
}

[data-bs-theme='light'] .sidebar-element a {
  color: var(--text);
  text-decoration: none;
}

.sidebar-element:hover {
  background-color: var(--emphasis);
}

.sidebar-element:hover a {
  color: white;
}

/* ------------------ */

/*      Sidebar       */
#back-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/* ------------------ */

/* Edit question form */
.preview-body {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------ */


/* Edit question form */
.form-control-plaintext {
  background-color: inherit;
  border: none;
  box-shadow: none;
  resize: none;
}

.form-control-plaintext:focus {
  box-shadow: none;
  background-color: inherit;
}

/* ------------------ */

/*     Vote Button    */
.vote-button {
  aspect-ratio: 1 / 1;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.vote-button.on,
.vote-button.off:hover {
  border: none;
  color: white;
  background-color: var(--primary);
}

.vote-button.on:hover,
.vote-button.off {
  border: 2px solid #687074;
  color: #687074;
  background-color: transparent;
}

.vote-button:hover {
  transform: scale(0.9);
}

/* ------------------ */

/*    Tag Container   */
#tags-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.tags-preview p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ------------------ */

/*    Profile Page   */
@media screen and (max-width: 768px) {

  #profile #editor-profile {
    width: 100%;
  }

  #profile .col {
    max-width: 100%;
  }

  #profile .row {
    flex-direction: column;
  }

  #profile .row .col {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  #profile #editor-profile {
    width: 50dvw;
  }

  #profile .col {
    max-width: 50dvw;
  }
}

#profile ul {
  background-color: var(--primary);
}

[data-bs-theme='light'] #profile .nav-link {
  background-color: var(--background);
}

[data-bs-theme='dark'] #profile .nav-link {
  background-color: var(--bs-body-bg);
}

/* ------------------ */

/*        Modal        */
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0) !important;
  background-color: rgba(0, 0, 0, 0.4) !important;
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 0.5rem;
}

[data-bs-theme='dark'] .modal-content {
  background-color: #222222;
  border: 1px solid #333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------------------- */

/*   Tagify readonly   */
.tagify[readonly] {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* ------------------- */

/*        Notifications        */
[data-bs-theme='light'] .popover li {
  background-color: #EBEBEB;
}

[data-bs-theme='dark'] .popover li{
  background-color: #333333;
}

[data-bs-theme='dark'] .alert-info {
  background-color: var(--bs-blue);
  border-color: #137ea7;
}

.text-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.popover {
  min-width: 30dvw;
  height: fit-content;
}

@media(max-width: 768px) {
  .popover {
    max-width: 100dvw;
  }
}

@media(min-width: 768px) {
  .popover {
    max-width: 50dvw;
  }
}

/* ------------------ */

/*        Sidebar        */
.sidebar li {
  color: var(--bs-body-color);
}

.sidebar li:hover {
  color: white;
}

/* ------------------ */