body {
  background-color: #c8eaf7;
}

/* Edit question form */
.form-control-plaintext {
  background-color: inherit;
  border: none;
  box-shadow: none;
  resize: none;
}

.form-control-plaintext:focus {
  box-shadow: none;
  background-color: inherit;
}
/* ------------------ */

/*     Vote Button    */
.question-button {
  aspect-ratio: 1 / 1;
  height: 30px;
  border-radius: 50%;
  border: 1px solid;
  background-color: transparent;
}

.question-button:hover, .question-button.on {
  color: #f48024;
  border-color: #f48024;
}

.question-button.on:hover, .question-button {
  color: #687074;
  border-color: #687074;
}
/* ------------------ */

#tags-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.tags-preview p {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error {
  color: rgb(165, 36, 36);
}

.votes::after {
  content: "vote(s)";
}

.sidebar {
  border-right: 4px solid #137ea7;
}

.sidebar-element {
  color: rgba(255, 255, 255, 0.55);
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
}

.sidebar-element:hover {
  background-color: #4da8cc;
  color: white;
}

.delete-tag {
  all: unset;
  color: rgb(255, 60, 60);
}

#profile {
  height: 100%;
}

#profile a.active {
  background-color: #c8eaf7;
}

#profile .nav-link{
  background-color: white;
} 

#profile #editor-profile{
  background-color: white;
  width: 50dvw;
}

#profile .col {
  max-width: 50dvw;
}
