body {
  background-color: #c8eaf7;
}

.error {
  color: rgb(165, 36, 36);
}

.question-prev a {
  text-decoration: none;
}

.votes::after {
  content: "vote(s)";
}

.question-prev .card-text {
  overflow: hidden;
  text-overflow: clip;
  max-height: 5em;
  -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}

.sidebar {
  border-right: 4px solid #137ea7;
}

.sidebar-element {
  color: rgba(255, 255, 255, 0.55);
	transition: color .3s ease-in-out,background-color .3s ease-in-out,border-color .3s ease-in-out;
}

.sidebar-element:hover {
  background-color: #4da8cc;
  color: white;
}

